<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block "><img  class="ml-5 mt-5"src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSsgVtyhw43lL2i5a6qKuhFJ2VXzz7LIu6Z3qZ6THKo711BEyoq&usqp=CAU" width="300" height="300"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Change your Account! Detailes</h1>
              </div>
              <script>
                $(document).ready(function(){
            
                   $('#user').submit(function(event){
           event.preventDefault();
           var x = $('#user').serializeArray() ;
           
           $.post("/admin/adminlogin",
           {"adminfirstname":x[0].value,
           "adminlastname":x[1].value,
           "adminemail":x[2].value,
           "adminpassword":x[3].value},
             function(data, status){
               alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
             }); 

        
           
           });
                   });
                                   </script>
              <form class="user" id="user" action="/admin/adminlogin" method="POST">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="adminfirstname" id="exampleFirstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="adminlastname" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email"  name="adminemail" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <input type="password"  name="adminpassword" class="form-control form-control-user" id="exampleInputEmail" placeholder="Password">
                </div>
                
                <hr>
                <button href="login.html" class="btn btn-primary btn-user btn-block">
                  Change 
                </button>
               
              
              </form>
            
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
  <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/dashboard/js/sb-admin-2.min.js"></script>

</body>

</html>
