<!DOCTYPE html>
<!--  Last Published: Thu Nov 07 2019 06:00:49 GMT+0000 (UTC)  -->
<html data-wf-page="5dc24764dccaf608944b83eb" data-wf-site="5dc24764dccaf6eb3c4b8344">

<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <meta content="Blog" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/pages/styles/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="pages/styles/css/components.css" rel="stylesheet" type="text/css">
    <link href="/pages/styles/css/quaid.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
    WebFont.load({ google: { families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Gothic A1:100,200,300,regular,500,600,700,800,900"] } });
    </script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <link href="https://via.placeholder.com/1000x600.png?text=IMAGE" rel="shortcut icon" type="image/x-icon">
    <link href="https://via.placeholder.com/1000x600.png?text=IMAGE" rel="apple-touch-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <header class="navigation-section position-absolute">
        <div class="navigation-overlay"></div>
        <div class="navigation-and-offcanvas">
            <div class="col no-margin-bottom lg-5 md-basis-uato">
                <nav class="navigation-menu"><a href="index.html" class="nav-link">Home</a><a href="index.html" class="nav-link">About</a><a href="service.html" class="nav-link">Services</a>
                   
                </nav>
            </div>
            <div class="col lg-2 md-basis-auto md-order-first no-margin-bottom-lg"><a href="#" class="brand w-inline-block"><img src="/images/p1.jpg" alt=""></a></div>
            <div class="col no-margin-bottom lg-5">
                <nav class="navigation-menu justify-end"><a href="blog.html" class="nav-link w--current">Potfolio</a><a href="general-contact.html" class="nav-link">Company</a>
                    <a data-w-id="e02ef0fd-d341-7eaf-5ed3-b53528c9af97" href="quote.html" class="button-primary animated is-small alignself-center w-inline-block">
                        <div class="button-primary-text">Contact</div>
                        <div class="button-primary-text for-hover">Welcome<span class="fa margin-left"></span></div>
                    </a>
                </nav>
            </div>
            <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c85f" href="#" class="c-nav__close-button w-inline-block">
                <div class="iconfont is-offcanvas-close-button"><em class="iconfont__no-italize"></em></div>
            </a>
        </div>
        <div class="mobile-navigation-bar"><a href="#" class="brand w-inline-block"><img src="" alt="" class="logo-image"></a>
            <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c868" href="#" class="burger-button w-inline-block">
                <div class="iconfont is-burger"><em class="iconfont__no-italize"></em></div>
            </a>
        </div>
    </header>
    <div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
        <div class="container position-relative">
            <div class="col block-centered text-align-center lg-7 md-12">
                <h1>Our Portfolio</h1>
            </div>
        </div><img src="/images/p1.jpg" alt="" class="header-image style2">
    </div>
    <div class="section">
        <div class="container is-wrapping">
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/web2.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom"> Portfolio websites.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/web1.png" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">E-commerce websites.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/web4.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom"> Landing pages.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/d.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">Wordmarks Logo.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/web3.jpg" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">Social media websites.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/design2.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">Pictorial marks  Logo.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/design3.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">Abstract logo marks.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/design4.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">Mascots Logo.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="/images/design5.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                    <a href="#" class="c-gridpost__clickable w-inline-block">
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">The combination mark.</h3>
                            <div class="text-small low-text-contrast"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    <footer class="section section-footer-dark padding-bottom-16">
        <div class="container margin-bottom">
            <div class="col lg-2 md-12 md-order-first"><img src="/images/logo2.png" alt=""></div>
            <div class="col lg-6 md-12 no-margin-bottom-lg">
                <div class="container container-nested">
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark">Company</h4><a href="index.html" class="footer-nav-link on-dark">Home</a><a href="index.html" class="footer-nav-link on-dark">About</a><a href="general-contact.html" class="footer-nav-link on-dark">company</a>
                    </div>
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark"> services</h4><a href="service.html" class="footer-nav-link on-dark">services</a><a href="service.html" class="footer-nav-link on-dark">Technology</a><a href="blog.html" class="footer-nav-link on-dark">portfolio</a>
                    </div>
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark"> Contact</h4><a href="quote.html" class="footer-nav-link on-dark">Contact</a><a href="quote.html" class="footer-nav-link on-dark">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="col lg-4 md-12 no-margin-bottom">
                <div class="w-form">
                    <script>
     $(document).ready(function(){
 
        $('#emailform').submit(function(event){
event.preventDefault();
var x = $('form').serializeArray() ;
var y={email2:x[0].value,name2:x[1].value}
$.post("/subscribedata",
{   email2:x[0].value,
    name2:x[1].value
},
  function(data, status){
    alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
  });

});
        });
                        </script>

                    <form id="emailform" name="email-form" action="/subscribedata"  method="POST" data-name="Email Form" >
                        <input type="email" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="email2" data-name="Email 2" placeholder="Email" id="email-2" required=""><br>
                        <input type="number" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="name2" data-name="Email 2" placeholder="Mobil no" id="email-2" required=""><br>
                        <input type="submit" value="Subscribe" data-wait="Please wait..." id="btn2"class="button-primary is-small w-button">
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
              
                <div class="flexh-space-between">
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col lg-12 margin-bottom">
                <div class="hr on-dark"></div>
            </div>
        </div>
        <div class="container">
            <div class="col lg-6 no-margin-bottom md-12 md-order-last">
                <div class="low-text-contrast text-small flexh-space-between md-flex-vertical">
                    <div class="md-order-last">©2019 Quaid by detheme. All rights reserved. </div><a href="#" class="footer-bottom-link">Privacy Policy</a><a href="#" class="footer-bottom-link">Term Of Service</a>
                </div>
            </div>
            <div class="col lg-6 no-margin-bottom md-12">
                <div class="w100 text-align-right footer-bottom md-text-align-left margin-bottom">Made in India, Banglore</div>
            </div>
        </div>
    </footer>
    <script src="/pages/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/pages/js/quaid.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

</html>