<!DOCTYPE html>
<!--  Last Published: Thu Nov 07 2019 06:00:49 GMT+0000 (UTC)  -->
<html data-wf-page="5dc24764dccaf6710c4b83e9" data-wf-site="5dc24764dccaf6eb3c4b8344">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>About</title>
    <meta content="About" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/pages/styles/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/pages/styles/css/components.css" rel="stylesheet" type="text/css">
    <link href="/pages/styles/css/quaid.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
    WebFont.load({ google: { families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Gothic A1:100,200,300,regular,500,600,700,800,900"] } });
    </script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <link href="https://via.placeholder.com/1000x600.png?text=IMAGE" rel="shortcut icon" type="image/x-icon">
    <link href="https://via.placeholder.com/1000x600.png?text=IMAGE" rel="apple-touch-icon">
</head>

<body>
    <header class="navigation-section position-absolute">
        <div class="navigation-overlay"></div>
        <div class="navigation-and-offcanvas">
            <div class="col no-margin-bottom lg-5 md-basis-uato">
                <nav class="navigation-menu"><a href="index.html" class="nav-link">Home</a><a href="index.html" class="nav-link">About</a><a href="service.html" class="nav-link w--current">Services</a>
                    
                </nav>
            </div>
            <div class="col lg-2 md-basis-auto md-order-first no-margin-bottom-lg"><a href="#" class="brand w-inline-block"><img src="images/-asset-quaid-dark.svg" alt=""></a></div>
            <div class="col no-margin-bottom lg-5">
                <nav class="navigation-menu justify-end"><a href="blog.html" class="nav-link">Portfolio</a><a href="general-contact.html" class="nav-link">Company</a>
                    <a data-w-id="e02ef0fd-d341-7eaf-5ed3-b53528c9af97" href="quote.html" class="button-primary animated is-small alignself-center w-inline-block">
                        <div class="button-primary-text">Contact</div>
                        <div class="button-primary-text for-hover">Welcome<span class="fa margin-left"></span></div>
                    </a>
                </nav>
            </div>
            <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c85f" href="#" class="c-nav__close-button w-inline-block">
                <div class="iconfont is-offcanvas-close-button"><em class="iconfont__no-italize"></em></div>
            </a>
        </div>
        <div class="mobile-navigation-bar"><a href="#" class="brand w-inline-block"><img src="" alt="" class="logo-image"></a>
            <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c868" href="#" class="burger-button w-inline-block">
                <div class="iconfont is-burger"><em class="iconfont__no-italize"></em></div>
            </a>
        </div>
    </header>
    <div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
        <div class="container position-relative">
            <div class="col block-centered text-align-center lg-7 md-12">
                <h1>Digital Marketing</h1>
                <div class="padding-left padding-right margin-bottom is-heading-color">We provide IT solution for different business</div>
            </div>
        </div><img src="/images/pr4.png" alt="" class="header-image style2">
    </div>

  
   
    <div class="section no-padding-bottom">
        <div class="container">
            <div class="col lg-5 alignself-center md-12">
                <h2>SEO..</h2>
                <div class="text-medium margin-bottom"></div>
                <div class="w-richtext">
                   

                   <b><p>A CREATIVE SEO AGENCY:</p> </b>
                  <p> Our point isn't just to improve your site's presence inside the search engines, however, to direct people to your website that get conversions. Accomplishing this requires considerably more than standard methods. At Brandwitty, we depend on our experience, information, however more significantly our imaginative reasoning and inventiveness to ensure we convey you the most ideal outcomes.</p><p> We continually screen the Google calculation and refine records to guarantee they are continually getting the most ideal outcomes. 

                    Making extraordinary substance and including social signals across Facebook, Twitter and Instagram assist us with accomplishing better outcomes for our customers. </p><p>Regardless of whether you have an E-trade website or an organization blog we can help. 
                    
                    Along these lines, you can be certain that your SEO battles are very much arranged, conveying quality outcomes over and over. This is the thing that we exceed expectations in.
                    </p>
                    
                   <b><p>PPC: </p> </b>
                  <p>Getting your site to the highest point of Google for Right Search Terms is a brilliant method to build your site's traffic. Doing this normally requires some investment, devotion and tolerance. Consider the possibility that you should be seen today. 

                    Paid pursuit promoting conveys top page perceivability immediately.</p><p> When you have chosen a financial plan, catchphrases to publicize on and presentation pages to utilize then you can go live right away. </p><p>
                    
                    Just as conveying moment traffic, search publicizing is incredibly focused on. Your site will possibly show up when individuals look for the watchwords you select. You have full power over what you promote, where and when your adverts show up, and above all your spending plan. 
                    
                     </p> 

                   <b><p>SMO:</p> </b>
                   
                               <p> Social media is like a verbal exchange on steroids. Your "followers" can go from clients to endorsers of your image in a moment. Viable administration of social profiles will empower you to connect with your clients, customers and any other individual who you need to reach instantly. </p><p>

                                With proper social media management, you can improve your brand's latent capacity, create faithful clients just as drive extra traffic to your webpage. Sounds straightforward enough isn't that right? However, practically speaking, successful internet based life the board is significantly more troublesome; and that is the place we can help.</p><p>
                                
                                It's anything but difficult to set up Social profiles, right? Anybody can do it. However, not all advertisers really see how to function with social life. Those that are fruitful at it are rare. In the event that you miss the point it can harm your image, yet hitting the nail on the head can impel you in front of your rivals. 
                                
                                Fortunately, we have what it takes and expertise to make any brand's online networking effort effective, all gratitude to our imaginative and keen methodology. Our group of committed Social Media specialists can take brands of any measure and revive their online life battles.
                                
                                </p>

                            
               
                           
                </div>
                <div class="col no-margin-bottom lg-5 mt-5 ml-5">
                   
                        <a data-w-id="e02ef0fd-d341-7eaf-5ed3-b53528c9af97" href="quote.html" class="button-primary animated is-small alignself-center w-inline-block">
                            <div class="button-primary-text">Contact</div>
                            <div class="button-primary-text for-hover">Welcome<span class="fa margin-left"></span></div>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="col lg-1 no-margin-bottom"></div>
            <div class="col lg-6 md-12  md-text-align-center"><img src="" alt=""><img src="https://images.unsplash.com/photo-1537731121640-bc1c4aba9b80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="mt-5" alt=""><img src="https://www.relevance.com/wp-content/uploads/2018/01/5-Digital-Marketing-Benefits-That-Every-Business-Should-Know-in-2018-and-Beyond-1.jpg" class="mt-5" alt=""><img src="https://www.bankinghub.eu/wp-content/uploads/sites/2/2019/07/Digitales-Marketing-und-Vertrieb-als-Wachstumstreiber-BankingHub-1-Kopie-1-1200x800.jpg" class="mt-5" alt=""><img src="https://curatebee.com/wp-content/uploads/2019/01/Market-Research-in-Digital-Marketing-1030x522.jpg" class="mt-5" alt=""><img src="https://feweek.co.uk/wp-content/uploads/2019/12/research-tech-books-feat.jpg" class="mt-5" alt=""></div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="col lg-6 md-12 block-centered text-align-center">
                <h2>Digital Marketing</h2>
                <div class="text-medium low-text-contrast margin-bottom"></div>
            </div>
        </div>
        <div class="container flex-horizontal">
            <div class="col lg-3 shift-down-double md-6 xs-12">
                <div class="c-team2"><img src="https://www.disruptivestatic.com/wp-content/uploads/2018/01/digital-marketing-blog-1.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Patrick Bob</strong><br>CEO</div> -->
                </div>
                <div class="c-team2"><img src="https://multichannelmerchant.com/wp-content/uploads/2018/07/digitalmarketing850.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Quiki Mboala</strong><br>Digital Marketer</div> -->
                </div>
            </div>
            <div class="col lg-3 md-6 xs-12">
                <div class="c-team2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPuvJ0niRjq3ex8pVKsymrvG9yVb7h8ebZ2CjDdz0xpPAYamg7&usqp=CAU" alt="" class="margin-bottom">
                    <!-- <div><strong>Howard Clarke</strong><br>Customer happiness</div> -->
                </div>
                <div class="c-team2"><img src="https://www.relevance.com/wp-content/uploads/2018/01/5-Digital-Marketing-Benefits-That-Every-Business-Should-Know-in-2018-and-Beyond-1.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Richard Tinoko</strong><br>Designer</div> -->
                </div>
            </div>
            <div class="col lg-3 shift-down-double md-6 xs-12">
                <div class="c-team2"><img src="https://assets.entrepreneur.com/content/3x2/2000/20191112054904-FotoJet32.jpeg" alt="" class="margin-bottom">
                    <!-- <div><strong>Brad Brookes</strong><br>Developer</div> -->
                </div>
                <div class="c-team2"><img src="https://fangdigital.com/wp-content/uploads/2013/05/digital-marketing-training-in-bangalore-1200x600.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Woodland McCormack</strong><br>System Analyst</div> -->
                </div>
            </div>
            <div class="col lg-3 md-6 xs-12">
                <div class="c-team2"><img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Why-Digital-Marketing-is-Critical-to-Your-Organization-in-2017.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Oliver Leeds</strong><br>Developer</div> -->
                </div>
                <div class="c-team2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYdb2xyxgH5cNxuTkwNCfWgOTRMDnmxP039PDGGCpEQWT2xAX7&usqp=CAU" alt="" class="margin-bottom">
                    <!-- <div><strong>Bobby Shah</strong><br>Digital Marketer</div> -->
                </div>
            </div>
        </div>
    </div>
    
    <footer class="section section-footer-dark padding-bottom-16">
        <div class="container margin-bottom">
            <div class="col lg-2 md-12 md-order-first"><img src="/images/logo2.png" alt=""></div>
            <div class="col lg-6 md-12 no-margin-bottom-lg">
                <div class="container container-nested">
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark">Company</h4><a href="index.html" class="footer-nav-link on-dark">Home</a><a href="index.html" class="footer-nav-link on-dark">About</a><a href="general-contact.html" class="footer-nav-link on-dark">company</a>
                    </div>
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark"> services</h4><a href="service.html" class="footer-nav-link on-dark">services</a><a href="service.html" class="footer-nav-link on-dark">Technology</a><a href="blog.html" class="footer-nav-link on-dark">portfolio</a>
                    </div>
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark"> Contact</h4><a href="quote.html" class="footer-nav-link on-dark">Contact</a><a href="quote.html" class="footer-nav-link on-dark">Subscribe</a>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function(){
            
                   $('#emailform').submit(function(event){
           event.preventDefault();
           var x = $('#emailform').serializeArray() ;
           var y={email2:x[0].value,name2:x[1].value}
           $.post("/subscribedata",
          {   email2:x[0].value,
               name2:x[1].value
           },
             function(data, status){
               alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
             }); 

        
           
           });
                   });
                                   </script>
            <div class="col lg-4 md-12 no-margin-bottom">
                <div class="w-form">
                    <form id="emailform" name="email-form" action="/subscribedata" method="POST"data-name="Email Form" >
                        <input type="email" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="email2" data-name="Email 2" placeholder="Email" id="email-2" required=""><br>
                        <input type="number" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="name2" data-name="Email 2" placeholder="Mobil no" id="email-2" required=""><br>
                        <input type="submit" value="Subscribe" data-wait="Please wait..." class="button-primary is-small w-button">
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
               
                <div class="flexh-space-between">
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col lg-12 margin-bottom">
                <div class="hr on-dark"></div>
            </div>
        </div>
        <div class="container">
            <div class="col lg-6 no-margin-bottom md-12 md-order-last">
                <div class="low-text-contrast text-small flexh-space-between md-flex-vertical">
                    <div class="md-order-last">©2019 Quaid by detheme. All rights reserved. </div><a href="#" class="footer-bottom-link">Privacy Policy</a><a href="#" class="footer-bottom-link">Term Of Service</a>
                </div>
            </div>
            <div class="col lg-6 no-margin-bottom md-12">
                <div class="w100 text-align-right footer-bottom md-text-align-left margin-bottom">Made in India,Banglore</div>
            </div>
        </div>
    </footer>
    <script src="/pages/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/pages/js/quaid.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

</html>