<!DOCTYPE html>
<!--  Last Published: Thu Nov 07 2019 06:00:49 GMT+0000 (UTC)  -->
<html data-wf-page="5dc24764dccaf6710c4b83e9" data-wf-site="5dc24764dccaf6eb3c4b8344">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>About</title>
    <meta content="About" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/pages/styles/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/pages/styles/css/components.css" rel="stylesheet" type="text/css">
    <link href="/pages/styles/css/quaid.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
    WebFont.load({ google: { families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Gothic A1:100,200,300,regular,500,600,700,800,900"] } });
    </script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <link href="https://via.placeholder.com/1000x600.png?text=IMAGE" rel="shortcut icon" type="image/x-icon">
    <link href="https://via.placeholder.com/1000x600.png?text=IMAGE" rel="apple-touch-icon">
</head>

<body>
    <header class="navigation-section position-absolute">
        <div class="navigation-overlay"></div>
        <div class="navigation-and-offcanvas">
            <div class="col no-margin-bottom lg-5 md-basis-uato">
                <nav class="navigation-menu"><a href="index.html" class="nav-link">Home</a><a href="index.html" class="nav-link">About</a><a href="service.html" class="nav-link w--current">Services</a>
                    
                </nav>
            </div>
            <div class="col lg-2 md-basis-auto md-order-first no-margin-bottom-lg"><a href="#" class="brand w-inline-block"><img src="images/-asset-quaid-dark.svg" alt=""></a></div>
            <div class="col no-margin-bottom lg-5">
                <nav class="navigation-menu justify-end"><a href="blog.html" class="nav-link">Portfolio</a><a href="general-contact.html" class="nav-link">Company</a>
                    <a data-w-id="e02ef0fd-d341-7eaf-5ed3-b53528c9af97" href="quote.html" class="button-primary animated is-small alignself-center w-inline-block">
                        <div class="button-primary-text">Contact</div>
                        <div class="button-primary-text for-hover">Welcome<span class="fa margin-left"></span></div>
                    </a>
                </nav>
            </div>
            <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c85f" href="#" class="c-nav__close-button w-inline-block">
                <div class="iconfont is-offcanvas-close-button"><em class="iconfont__no-italize"></em></div>
            </a>
        </div>
        <div class="mobile-navigation-bar"><a href="#" class="brand w-inline-block"><img src="" alt="" class="logo-image"></a>
            <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c868" href="#" class="burger-button w-inline-block">
                <div class="iconfont is-burger"><em class="iconfont__no-italize"></em></div>
            </a>
        </div>
    </header>
    <div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
        <div class="container position-relative">
            <div class="col block-centered text-align-center lg-7 md-12">
                <h1>Major creative work</h1>
                <div class="padding-left padding-right margin-bottom is-heading-color"></div>
            </div>
        </div><img src="/images/pr4.png" alt="" class="header-image style2">
    </div>

  

    <div class="section">
        <div class="container is-wrapping">
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="https://www.fourthsource.com/wp-content/uploads/2020/01/digital-marketing-strategy-for-small-business-1.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                   
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">Graphics design:</h3>
                            LOGO DESIGN 
                            <div class="text-small low-text-contrast">
                                
                                   A 'logo' is the open impression of your business, and your business is worth in excess of a logo took out at the web. You need an expert logo plan that catches your uniqueness. What's more, at Fruitbowl Digital, all our bespoke logos are as new as recently prepared bread!

                                </div>
                                SOCIAL  MEDIA POSTS: 
                            <div class="text-small low-text-contrast">
                                
                                We offer post creations services for the social media pages to post. We have different packages for different types of requirements of the clients. 


                                </div>
                        </div>
                   
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card shift-down"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBpoarwINK_ut17OdFAs71ys3S6MoO6TZ5zNO-t7EaB6igWlx7&usqp=CAU" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                  
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">Content writers: 
                            </h3>
                            <div class="text-small low-text-contrast">Great content makes a website or article worth reading by the leader who has come on the website. The more time a lead spends on the website higher is the chance for a sale.

                                </div>
                        </div>
                   
                </div>
            </div>
            <div class="col lg-4 md-12">
                <div class="c-gridpost__card"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQX5ky_iNt61EYQW7xy2p09bh1URLQb-3X5DKXBnteVKeIzP70f&usqp=CAU" sizes="(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, 29vw" alt="">
                    <div class="c-gridpost__category style3"><a href="#" class="c-gridpost__category-link">Design</a> / <a href="#" class="c-gridpost__category-link">Technology</a></div>
                   
                        <div class="c-gridpost__text style2">
                            <h3 class="margin-bottom">Video Production and editing: </h3>
                            <div class="text-small low-text-contrast">
                                We have a video production unit who can help you shoot real-life events like podcasts, interviews, content, office tour etc. for your social audience to be engaged in. 
                                Similarly, we have an editing unit who help us editing and make creative and unique videos for social engagements and increasing the brand name in the market.
                                
                                </div>
                        </div>
                    
                </div>
            </div>
           
        </div>
        
    </div>
   

      
    <div class="section">
        <div class="container">
            <div class="col lg-6 md-12 block-centered text-align-center">
                <h2>Technology We use</h2>
                <div class="text-medium low-text-contrast margin-bottom">We use these technology to develop Softwares and applications. </div>
            </div>
        </div>
        <div class="container flex-horizontal">
            <div class="col lg-3 shift-down-double md-6 xs-12">
                <div class="c-team2"><img src="https://s3.amazonaws.com/pbblogassets/uploads/2019/04/16110115/Premiere-Tut-Roundup.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Patrick Bob</strong><br>CEO</div> -->
                </div>
                <div class="c-team2"><img src="https://i.pcmag.com/imagery/reviews/03sVKba71UjUZYxH3OWw6pS-23.fit_lpad.size_624x364.v_1574212604.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Quiki Mboala</strong><br>Digital Marketer</div> -->
                </div>
            </div>
            <div class="col lg-3 md-6 xs-12">
                <div class="c-team2"><img src="https://mysoftwarefree.com/wp-content/uploads/2019/04/Sony-Vegas-Pro-15-Free-Download.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Howard Clarke</strong><br>Customer happiness</div> -->
                </div>
                <div class="c-team2"><img src="https://designshack.net/wp-content/uploads/what-is-adobe-after-effects.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Richard Tinoko</strong><br>Designer</div> -->
                </div>
            </div>
            <div class="col lg-3 shift-down-double md-6 xs-12">
                <div class="c-team2"><img src="https://www.coreldraw.com/static/cdgs/images/free-trials/2020/box-ui-cdgs2020-win.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Brad Brookes</strong><br>Developer</div> -->
                </div>
                <div class="c-team2"><img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/139903144/original/8d9706cc799eb6b2aaf27c0f9fd1e1a97371b29e/adobe-psd-and-xd-to-nuxt-web-app.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Woodland McCormack</strong><br>System Analyst</div> -->
                </div>
            </div>
            <div class="col lg-3 md-6 xs-12">
                <div class="c-team2"><img src="" alt="" class="margin-bottom">
                    <!-- <div><strong>Oliver Leeds</strong><br>Developer</div> -->
                </div>
                <div class="c-team2"><img src="https://img-a.udemycdn.com/course/750x422/1564476_59af.jpg" alt="" class="margin-bottom">
                    <!-- <div><strong>Bobby Shah</strong><br>Digital Marketer</div> -->
                </div>
            </div>
        </div>
    </div>
    
    <footer class="section section-footer-dark padding-bottom-16">
        <div class="container margin-bottom">
            <div class="col lg-2 md-12 md-order-first"><img src="/images/logo2.png" alt=""></div>
            <div class="col lg-6 md-12 no-margin-bottom-lg">
                <div class="container container-nested">
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark">Company</h4><a href="index.html" class="footer-nav-link on-dark">Home</a><a href="index.html" class="footer-nav-link on-dark">About</a><a href="general-contact.html" class="footer-nav-link on-dark">company</a>
                    </div>
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark"> services</h4><a href="service.html" class="footer-nav-link on-dark">services</a><a href="service.html" class="footer-nav-link on-dark">Technology</a><a href="blog.html" class="footer-nav-link on-dark">portfolio</a>
                    </div>
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark"> Contact</h4><a href="quote.html" class="footer-nav-link on-dark">Contact</a><a href="quote.html" class="footer-nav-link on-dark">Subscribe</a>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function(){
            
                   $('#emailform').submit(function(event){
           event.preventDefault();
           var x = $('#emailform').serializeArray() ;
           var y={email2:x[0].value,name2:x[1].value}
           $.post("/subscribedata",
          {   email2:x[0].value,
               name2:x[1].value
           },
             function(data, status){
               alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
             }); 

        
           
           });
                   });
                                   </script>
            <div class="col lg-4 md-12 no-margin-bottom">
                <div class="w-form">
                    <form id="emailform" name="email-form" action="/subscribedata" method="POST"data-name="Email Form" >
                        <input type="email" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="email2" data-name="Email 2" placeholder="Email" id="email-2" required=""><br>
                        <input type="number" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="name2" data-name="Email 2" placeholder="Mobil no" id="email-2" required=""><br>
                        <input type="submit" value="Subscribe" data-wait="Please wait..." class="button-primary is-small w-button">
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
               
                <div class="flexh-space-between">
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col lg-12 margin-bottom">
                <div class="hr on-dark"></div>
            </div>
        </div>
        <div class="container">
            <div class="col lg-6 no-margin-bottom md-12 md-order-last">
                <div class="low-text-contrast text-small flexh-space-between md-flex-vertical">
                    <div class="md-order-last">©2019 Quaid by detheme. All rights reserved. </div><a href="#" class="footer-bottom-link">Privacy Policy</a><a href="#" class="footer-bottom-link">Term Of Service</a>
                </div>
            </div>
            <div class="col lg-6 no-margin-bottom md-12">
                <div class="w100 text-align-right footer-bottom md-text-align-left margin-bottom">Made in India,Banglore</div>
            </div>
        </div>
    </footer>
    <script src="/pages/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/pages/js/quaid.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

</html>