<!DOCTYPE html>
<!--  Last Published: Thu Nov 07 2019 06:00:49 GMT+0000 (UTC)  -->
<html data-wf-page="5dc24764dccaf6710c4b83e9" data-wf-site="5dc24764dccaf6eb3c4b8344">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>About</title>
    <meta content="About" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/pages/styles/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/pages/styles/css/components.css" rel="stylesheet" type="text/css">
    <link href="/pages/styles/css/quaid.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
    WebFont.load({ google: { families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Gothic A1:100,200,300,regular,500,600,700,800,900"] } });
    </script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <link href="https://via.placeholder.com/1000x600.png?text=IMAGE" rel="shortcut icon" type="image/x-icon">
    <link href="https://via.placeholder.com/1000x600.png?text=IMAGE" rel="apple-touch-icon">
</head>

<body>
    <header class="navigation-section position-absolute">
        <div class="navigation-overlay"></div>
        <div class="navigation-and-offcanvas">
            <div class="col no-margin-bottom lg-5 md-basis-uato">
                <nav class="navigation-menu"><a href="index.html" class="nav-link">Home</a><a href="about.html" class="nav-link">About</a><a href="service.html" class="nav-link w--current">Services</a>
                    
                </nav>
            </div>
            <div class="col lg-2 md-basis-auto md-order-first no-margin-bottom-lg"><a href="#" class="brand w-inline-block"><img src="images/-asset-quaid-dark.svg" alt=""></a></div>
            <div class="col no-margin-bottom lg-5">
                <nav class="navigation-menu justify-end"><a href="blog.html" class="nav-link">Portfolio</a><a href="general-contact.html" class="nav-link">Company</a>
                    <a data-w-id="e02ef0fd-d341-7eaf-5ed3-b53528c9af97" href="quote.html" class="button-primary animated is-small alignself-center w-inline-block">
                        <div class="button-primary-text">Contact</div>
                        <div class="button-primary-text for-hover">Welcome<span class="fa margin-left"></span></div>
                    </a>
                </nav>
            </div>
            <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c85f" href="#" class="c-nav__close-button w-inline-block">
                <div class="iconfont is-offcanvas-close-button"><em class="iconfont__no-italize"></em></div>
            </a>
        </div>
        <div class="mobile-navigation-bar"><a href="#" class="brand w-inline-block"><img src="" alt="" class="logo-image"></a>
            <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c868" href="#" class="burger-button w-inline-block">
                <div class="iconfont is-burger"><em class="iconfont__no-italize"></em></div>
            </a>
        </div>
    </header>
    <div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
        <div class="container position-relative">
            <div class="col block-centered text-align-center lg-7 md-12">
                <h1>Welcome</h1>
                <div class="padding-left padding-right margin-bottom is-heading-color">We provide IT solution for different business</div>
            </div>
        </div><img src="/images/pr4.png" alt="" class="header-image style2">
    </div>
    <div class="section no-padding-bottom">
        <div class="container">
            <div class="col lg-5 alignself-center md-12">
                <h2> Our Services</h2>
                <div class="text-medium margin-bottom"></div>
                <div class="w-richtext">
                   
                   <p>

                    <p>1. Web Developers: 
Wordpress, PHP, Angular, Node, ReactJS. 
All types of web development projects and make it the way you want it to be. 
</p>
<p>
2. Digital Marketing:
We undertake the entire branding and marketing for all types of companies and help their business to reach more people and get more leads. 
</p>
<p>
3. Graphics Designing:
We undertake all sorts of Graphics designing work from Adverts, Social Media Post, 2D/3D Animation, Invites Design, Presentation Design, Magazines Layouting & Designing, Calendar Design, Product Packaging Design, Book Cover Design, Logo designing, etc. 
</p>
<p>
4. Content Writers: 
We undertake all sorts of content writing work. 
We write content in all sorts of domains be it technical or general. 
. 
</p>
<p>
5. Video Production & Editing:
We provide a professional level of Video Production Unit for shooting videos of corporate events, interviews, podcasts etc.
We undertake Video Editing work as well on a project to project basis. 
</p>
                   </p>
                </div><img src="/images/pr3.png" width="200" alt="">
                
            </div>
            <div class="col lg-1 no-margin-bottom"></div>
            <div class="col lg-6 md-12 order-first md-text-align-center"><img src="/images/pr1.png" alt=""></div>
        </div>
    </div>
    <div class="section no-padding-bottom">
        <div class="container flex-horizontal">
            <div class="col lg-4 md-6 sm-12">
                <div class="box">
                    <h4 class="margin-bottom">About</h4>
                    <div>  I knew what all is required for digital marketing and stuff but I never had the time to devote for actually branding my company. Leadgenpro is like one-stop-shop every service in terms 

                        </div>
                </div>
            </div>
            <div class="col lg-4 md-6 sm-12">
                <div class="box">
                    <h4 class="margin-bottom">Vision</h4>
                    <div> I felt so touched when the discovery call was taken directly by the CEO and for the next 30 mins, we were just discussing my business and how to grow it, branding solutions and that call was very helpful and insightful on why and how should I brand my business. Very happy with their services and the quality of work. Keep it up. Best wishes. 
                        - Mr Karamveer Kapoor 
                        </div>
                </div>
            </div>
            <div class="col lg-4 md-6 sm-12">
                <div class="box">
                    <h4 class="margin-bottom">Mission</h4>
                    <div> I opted for the Social Media Optimisation and Marketing Package. And the results were great. I was able to know and see how a good social presence can help drastically increases the sales aspect in the business and build so much trust in the brand. 
                        - Mrs Shalini Arora
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="col block-centered text-align-center lg-6 md-12">
                <h2>Why choose us</h2>
                <div class="text-medium low-text-contrast margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet </div>
            </div>
        </div>
        <div class="container is-wrapping">
            <div class="col lg-4 md-6 sm-12">
                <div class="flex-horizontal"><img src="/images/pr1.png" width="64" alt="" class="alignself-top">
                    <div class="margin-left">
                        <h3>Reliable, Vetted Provider Network</h3>
                        <div>Fusce dapibus, tellus ac cursus commodo, tortor mauris </div>
                    </div>
                </div>
            </div>
            <div class="col lg-4 md-6 sm-12">
                <div class="flex-horizontal"><img src="/images/pr2.png" width="64" alt="" class="alignself-top">
                    <div class="margin-left">
                        <h3>Extensive Hands-On Experience</h3>
                        <div>Fusce dapibus, tellus ac cursus commodo, tortor mauris </div>
                    </div>
                </div>
            </div>
            <div class="col lg-4 md-6 sm-12">
                <div class="flex-horizontal"><img src="/images/pr3.png" width="64" alt="" class="alignself-top">
                    <div class="margin-left">
                        <h3>Trusted Partner</h3>
                        <div>Fusce dapibus, tellus ac cursus commodo, tortor mauris Vestibulum id ligula porta felis </div>
                    </div>
                </div>
            </div>
            <div class="col lg-4 md-6 sm-12">
                <div class="flex-horizontal"><img src="/images/pr4.png" width="64" alt="" class="alignself-top">
                    <div class="margin-left">
                        <h3>Wide array of industry verticals</h3>
                        <div>Fusce dapibus, tellus ac cursus commodo, tortor mauris </div>
                    </div>
                </div>
            </div>
            <div class="col lg-4 md-6 sm-12">
                <div class="flex-horizontal"><img src="/images/pr5.png" width="64" alt="" class="alignself-top">
                    <div class="margin-left">
                        <h3>High-Touch, Responsive Service</h3>
                        <div>Fusce dapibus, tellus ac cursus commodo, tortor mauris </div>
                    </div>
                </div>
            </div>
            <div class="col lg-4 md-6 sm-12">
                <div class="flex-horizontal"><img src="/images/pr6.png" width="64" alt="" class="alignself-top">
                    <div class="margin-left">
                        <h3>Helpdesk &amp; Technical Support</h3>
                        <div>Fusce dapibus, tellus ac cursus commodo, tortor mauris </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section no-padding-bottom has-bg-accent">
        <div class="container flexh-align-center">
            <div class="col no-margin-bottom lg-6 md-12 order-last"><img src="/images/pr7.png" width="310" alt=""></div>
            <div class="col lg-1"></div>
            <div class="col no-margin-bottom lg-5 position-relative md-12">
                <div class="text-large weight-is-thin margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
                <!-- <div class="is-bold">Johny Baldon</div>
                <div class="text-small">CEO at Turus Berkarya</div> -->
                <div class="c-quote__marker">“</div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="col lg-6 md-12 block-centered text-align-center">
                <h2>Technology We provide</h2>
                <div class="text-medium low-text-contrast margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet </div>
            </div>
        </div>
        <div class="container flex-horizontal">
            <div class="col lg-3 shift-down-double md-6 xs-12">
                <div class="c-team2"><img src="/pr9.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Patrick Bob</strong><br>CEO</div> -->
                </div>
                <div class="c-team2"><img src="/images/pr1.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Quiki Mboala</strong><br>Digital Marketer</div> -->
                </div>
            </div>
            <div class="col lg-3 md-6 xs-12">
                <div class="c-team2"><img src="/images/pr2.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Howard Clarke</strong><br>Customer happiness</div> -->
                </div>
                <div class="c-team2"><img src="/images/pr3.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Richard Tinoko</strong><br>Designer</div> -->
                </div>
            </div>
            <div class="col lg-3 shift-down-double md-6 xs-12">
                <div class="c-team2"><img src="/images/pr4.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Brad Brookes</strong><br>Developer</div> -->
                </div>
                <div class="c-team2"><img src="/images/pr5.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Woodland McCormack</strong><br>System Analyst</div> -->
                </div>
            </div>
            <div class="col lg-3 md-6 xs-12">
                <div class="c-team2"><img src="/images/pr6.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Oliver Leeds</strong><br>Developer</div> -->
                </div>
                <div class="c-team2"><img src="/images/pr7.png" alt="" class="margin-bottom">
                    <!-- <div><strong>Bobby Shah</strong><br>Digital Marketer</div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="section has-bg-image2 position-relative overflow-hidden">
        <div class="container">
            <div class="col lg-12">
                <div class="c-cta1 on-dark">
                    <div class="md-margin-bottom cta-text">
                        <div class="size-h2 on-dark">Unlock the digital world and begin your organization’s transformation</div>
                        <div>Get in touch with a sales professional.</div>
                    </div>
                    <div class="basis400">
                        <a href="#" class="button-primary margin-right is-white w-inline-block">
                            <div class="button-primary-text">Let&#x27;s talk</div>
                        </a>
                        <a href="#" class="button-primary is-ghost on-dark w-inline-block">
                            <div class="button-primary-text">learn more</div>
                        </a>
                    </div>
                </div>
            </div>
        </div><img src="/images/pr9.png" alt="" class="header-image position2">
    </div>
    <footer class="section section-footer-dark padding-bottom-16">
        <div class="container margin-bottom">
            <div class="col lg-2 md-12 md-order-first"><img src="/images/pr2.png" alt=""></div>
            <div class="col lg-6 md-12 no-margin-bottom-lg">
                <div class="container container-nested">
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark">Company</h4><a href="#" class="footer-nav-link on-dark">About</a><a href="#" class="footer-nav-link on-dark">Services</a><a href="#" class="footer-nav-link on-dark">Career</a><a href="#" class="footer-nav-link on-dark">Sitemap</a><a href="#" class="footer-nav-link on-dark">Terms of privacy</a>
                    </div>
                    <div class="col lg-4 md-12 no-margin-bottom-lg">
                        <h4 class="on-dark">Finance services</h4><a href="#" class="footer-nav-link on-dark">Finance transformation</a><a href="#" class="footer-nav-link on-dark">Lean finance</a><a href="#" class="footer-nav-link on-dark">Finance strategy</a><a href="#" class="footer-nav-link on-dark">Post—merger finance integration</a>
                    </div>
                    <div class="col lg-4 md-12 no-margin-bottom">
                        <h4 class="on-dark">Industries</h4><a href="#" class="footer-nav-link on-dark">Building and Construction</a><a href="#" class="footer-nav-link on-dark">Consumer Markets</a><a href="#" class="footer-nav-link on-dark">Defence and Aerospace</a><a href="#" class="footer-nav-link on-dark">Family enterprise</a>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function(){
            
                   $('#emailform').submit(function(event){
           event.preventDefault();
           var x = $('#emailform').serializeArray() ;
           var y={email2:x[0].value,name2:x[1].value}
           $.post("/subscribedata",
          {   email2:x[0].value,
               name2:x[1].value
           },
             function(data, status){
               alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
             }); 

        
           
           });
                   });
                                   </script>
            <div class="col lg-4 md-12 no-margin-bottom">
                <div class="w-form">
                    <form id="emailform" name="email-form" action="/subscribedata" method="POST"data-name="Email Form" >
                        <input type="email" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="email2" data-name="Email 2" placeholder="Email" id="email-2" required=""><br>
                        <input type="number" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="name2" data-name="Email 2" placeholder="Mobil no" id="email-2" required=""><br>
                        <input type="submit" value="Subscribe" data-wait="Please wait..." class="button-primary is-small w-button">
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
                <div class="low-text-contrast text-xsmall margin-bottom-double">Join our newsletter to stay up to date on features and releases</div>
                <div class="flexh-space-between">
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                    <a href="#" class="c-social on-dark w-inline-block">
                        <div class="fa-brand"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col lg-12 margin-bottom">
                <div class="hr on-dark"></div>
            </div>
        </div>
        <div class="container">
            <div class="col lg-6 no-margin-bottom md-12 md-order-last">
                <div class="low-text-contrast text-small flexh-space-between md-flex-vertical">
                    <div class="md-order-last">©2019 Quaid by detheme. All rights reserved. </div><a href="#" class="footer-bottom-link">Privacy Policy</a><a href="#" class="footer-bottom-link">Term Of Service</a>
                </div>
            </div>
            <div class="col lg-6 no-margin-bottom md-12">
                <div class="w100 text-align-right footer-bottom md-text-align-left margin-bottom">Made in Surabaja, Indonesia</div>
            </div>
        </div>
    </footer>
    <script src="/pages/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/pages/js/quaid.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

</html>